@model RITFacultyV1.ViewModels.HomeViewModel

<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4">@Model.Title</h1>
		<h2 class="lead">@Model.About.title</h2>
		<p class="lead">@Model.About.description</p>
		<h4 class="lead">@Model.About.quote - @Model.About.quoteAuthor</h4>
		
	</div>
</div>